
body{background-color: lightblue; 
     color: darkblue;}

main {
  min-height: 71vh;
}

/* h1 {
  font-size: 4rem;
  font-family: sans-serif;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
  0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  text-align: center;
} */

h1{font-family: Arial, Helvetica, sans-serif; 
  font-size: 36px; 
  text-align: center;}

h2{text-align: justify;
  font-family: 'candara', Helvetica, sans-serif;}

p{font-family: 'georgia' serif; 
  font-size: 18px;
  padding: 10px;
  margin: 20px;}

.container{max-width: 800px;
  margin: auto;
  padding: 20px;}

.container-nav {
  display: flex;
   padding: 10px;
   height: 50px;
   background-color: olivedrab;}

.row{display: flex; 
  flex-wrap: wrap; 
  margin: 10px;}

.column{flex: 1;
  padding: 10px;}
  @media (max-width: 600px) 
  {.column
  {flex: 100%;}}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
   }

.brand {
  display: flex;
  align-items: center;
   }
  li>a {
  padding: 8px 24px;
   }
  li {
  list-style-type: none;}
  a {
  color: white;
  text-decoration:none;}

.nav-links {
  display: flex;
  align-items: center;}

.button-menu-toggle {
  display: none;}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;}

footer {
  position: relative;
  bottom: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: navajowhite;
  min-height: 200px;
  text-align: center;
  width: 100%;
  }

   @media (max-width: 768px) {
.column {
  flex: 100%;}

.nav-links {
  display: none;}

.button-menu-toggle {
  display: block;
  background-color: white;
  border:none;
  border-radius: 50px;
  padding: 0 15px;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;}

.nav-links.nav-links-responsive {
  position: absolute;
  display: flex;
  background-color: rgba(20,20,20,0.95);
  width: 100%;
  height: 100%;
  top: 70px;
  left: 0;
  flex-direction: column;
  padding-top: 200px;
  align-items: center;
  gap:70px;
  font-size: 20px;}}

/* .img-container {
  flex-direction: column;} */

.video-container {
  padding: 10px;
  gap: 5px;}

iframe, video {
  max-width: 90%;}



/* .form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: flex-start;
} */